body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  width: 1158px;
}

.container{
  display: flex;
  align-items: center;
  width: 1158px;
}

header{
  width: 1440px;
  height: 72px;
  margin-left: 120px;
  margin-top: 20px;
}

header a {
  color: #2e2f42;
  background-color: #ffffff;
  text-decoration: none;
}

header nav li a {
  font-weight: 500;
  font-size: 0.8;
  line-height: 1.2;
  letter-spacing: 2%;
}

header nav li a:hover {
  color: #404bbf;
}

header address li a {
  font-size: 0.8;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #434455;
}

header address li a:hover {
  color: #404bbf;
}

header li {
  list-style-type: none;
}

.page-menu-list{
  display: flex;
}

.list-1{
  width: 48px;
}

.list-2{
  width: 66px;
}

.list-3{
  width: 67px;
}

.address{
  display: flex;
}

.mail{
  margin: 100px;
}

.web {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
}

.section-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  width: 1440px;
  height: 600px;
}

.button {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

.section-2 {
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-2-div{
  display: flex;
}

.section-2 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  list-style-type: none;
}

.section-2 p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.section-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  background-color: #f4f4fd;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1440px;
  height: 732px;
}

.section-3-div{
display: flex;
}

.our-team{
  text-align: center;
}

.imga{
  margin-right: 32px;
}

.imgb{
  margin-right: 32px;
}

.imgc{
  margin-right: 32px;
}

.imgd{
  margin-right: 32px;
}

.section-3 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  list-style-type: none;
}

.section-3 p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.section-4 {
  width: 1200px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio{
  text-align: center;
}

.section-4-div{
  display: flex;
  flex-wrap: wrap;
}

.section-4 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  list-style-type: none;
  margin: 10px;
}

.section-4 p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

footer a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #f4f4fd;
  text-decoration: none;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
}
