h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

header {
  height: 72px;
  border-bottom: 1px;
  border-color: #e7e9fc;
  border-style: solid;
  padding: 30px;
}

.header-list {
  display: flex;
  width: 1158px;
  justify-content: space-around;
}

header a {
  color: #2e2f42;
  background-color: #ffffff;
  text-decoration: none;
}

header nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

header nav li a:hover {
  color: #404bbf;
}

header address li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

header address li a:hover {
  color: #404bbf;
}

header li {
  list-style-type: none;
}

.page-menu-list {
  display: flex;
}

.list-studio {
  width: 60px;
}

.list-portfolio {
  width: 75px;
}

.list-contacts {
  width: 100px;
}

.address {
  display: flex;
}

.mail {
  padding-right: 100px;
}

.web {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
}

.section-1 {
  height: 600px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.section-1-button {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

.section-2 {
  color: #2e2f42;
}

.section-2-div {
  display: flex;
  gap: 30px;
}

.section-2 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.section-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  background-color: #f4f4fd;
  color: #2e2f42;
  height: 732px;
}

.section-3-div {
  display: flex;
  gap: 32px;
}

.our-team {
  text-align: center;
}

.section-3 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-3-images {
  display: flex;
}

.section-3-background {
  width: 264px;
  height: 168px;
  text-align: center;
  background-color: white;
}

.section-3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.space-1 {
  padding-top: 20px;
}

.space-2 {
  margin-top: 10px;
}

.section-4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.section-4-images {
  display: flex;
}

.our-portfolio {
  text-align: center;
}

.section-4-div {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.section-4 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  padding-top: 10px;
}

.section-4-border {
  border-width: 0px 1px 1px 1px;
  border-color: #e7e9fc;
  border-style: solid;
  height: 120px;
  padding: 20px;
}

footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px;
}

footer a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #f4f4fd;
  text-decoration: none;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
}
